{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block content %}
<!-- page banner section -->
<section id="page-banner-section">
  <div class="banner">
    <div class="overlay"></div>
    <div class="wrapper">
      <h3 class="mb-2">About Us</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, repellat!
      </p>
      <!-- breadcrumb -->
      <nav class="breadcrumb d-flex justify-content-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="text-decoration-none link-danger" href="{% url 'index' %}"
              >Home</a
            >
          </li>
          <li class="breadcrumb-item active">About</li>
        </ol>
      </nav>
      <!-- breadcrumb end -->
    </div>
  </div>
</section>
<!-- page banner section end -->
<!-- about us section -->
<section id="about-us-section" class="bg-white py-5">
  <div class="container">
    <div class="about-us-photos">
      <div class="row align-items-center">
        <!-- gallery -->
        <div class="col-12 col-lg-6">
          <div id="gallery" class="carousel slide">
            <!-- thumbnails -->
            <div class="carousel-indicators">
              <ul>
                <li>
                  <a
                    class="active"
                    type="button"
                    data-bs-target="#gallery"
                    data-bs-slide-to="0"
                  >
                    <img
                      class="img-fluid rounded"
                      src="{{setting.about_us_photo_1.url}}"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    type="button"
                    data-bs-target="#gallery"
                    data-bs-slide-to="1"
                  >
                    <img
                      class="img-fluid rounded"
                      src="{{setting.about_us_photo_2.url}}"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    type="button"
                    data-bs-target="#gallery"
                    data-bs-slide-to="2"
                  >
                    <img
                      class="img-fluid rounded"
                      src="{{setting.about_us_photo_3.url}}"
                      alt=""
                    />
                  </a>
                </li>
                <li>
                  <a
                    type="button"
                    data-bs-target="#gallery"
                    data-bs-slide-to="3"
                  >
                    <img
                      class="img-fluid rounded"
                      src="{{setting.about_us_photo_4.url}}"
                      alt=""
                    />
                  </a>
                </li>
              </ul>
            </div>
            <!-- thumbnails end -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block w-100 rounded"
                  src="{{setting.about_us_photo_1.url}}"
                  alt=""
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100 rounded"
                  src="{{setting.about_us_photo_2.url}}"
                  alt=""
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100 rounded"
                  src="{{setting.about_us_photo_3.url}}"
                  alt=""
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100 rounded"
                  src="{{setting.about_us_photo_4.url}}"
                  alt=""
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#gallery"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#gallery"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
        <!-- gallery end -->
        <!-- title description -->
        <div class="col-12 col-lg-6">
          <div class="title-description ps-0 ps-lg-4 mt-4 mt-lg-0">
            <h2 class="mb-3">
              Welcome to <span class="text-danger">BikeKinbo</span>
            </h2>
            <p class="text-secondary">{{setting.about_us_text|safe}}</p>
          </div>
        </div>
        <!-- title description end -->
      </div>
    </div>
  </div>
</section>
<!-- about us section end -->
<!-- team section -->
<section id="team-section" class="py-5">
  <div class="container">
    <!-- section title -->
    <div class="section-title text-center my-5">
      <h3 class="fs-1">Executive<span class="text-danger ms-1">Team</span></h3>
      <p class="text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        fugiat.
      </p>
    </div>
    <!-- section title end -->
    <div id="teamSection" class="owl-carousel owl-theme">
      <!-- single team member -->
      {% for team in teams %}
      <div class="single-member">
        <div class="card">
          <img
            class="card-img-top"
            src="{{team.photo.url}}"
            alt=""
          />
          <div class="card-body">
            <h4 class="text-danger">{{team.first_name}} {{team.last_name}}</h4>
            <p>{{team.designation}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- single team member end -->
    </div>
  </div>
</section>
<!-- team section end -->
{% endblock content %}