{% extends 'base.html' %}
{% block title %}Our Services{% endblock title %}
{% load static %}
{% block content %}
<!-- page banner section -->
<section id="page-banner-section">
  <div class="banner">
    <div class="overlay"></div>
    <div class="wrapper">
      <h3 class="mb-2">Our Services</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, repellat!
      </p>
      <!-- breadcrumb -->
      <nav class="breadcrumb d-flex justify-content-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="text-decoration-none link-danger" href="{% url 'index' %}"
              >Home</a
            >
          </li>
          <li class="breadcrumb-item active">Services</li>
        </ol>
      </nav>
      <!-- breadcrumb end -->
    </div>
  </div>
</section>
<!-- page banner section end -->
<!-- services section -->
<section id="services-section" class="bg-white py-5">
  <div class="container">
    <!-- our services -->
    <div class="our-services">
      <div class="row">
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/support.png' %}" alt="" />
                <h3 class="my-3">Free Support</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/logistics.png' %}" alt="" />
                <h3 class="my-3">Fast Delivery</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/piston.png' %}" alt="" />
                <h3 class="my-3">Repairing</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/gas-station.png' %}" alt="" />
                <h3 class="my-3">Oil Change</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/car-engine.png' %}" alt="" />
                <h3 class="my-3">Engine Repair</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/deal.png' %}" alt="" />
                <h3 class="my-3">Dealership</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/license-plate.png' %}" alt="" />
                <h3 class="my-3">Registration</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/spray.png' %}" alt="" />
                <h3 class="my-3">Painting</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
        <!-- single service -->
        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4">
          <div class="single-service">
            <div class="card text-center">
              <div class="card-body">
                <img src="{% static 'images/services/tools.png' %}" alt="" />
                <h3 class="my-3">Bike Modification</h3>
                <p class="text-secondary">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Incidunt ab consequuntur commodi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- single service end -->
      </div>
    </div>
    <!-- our services end -->
    <!-- services video -->
    <div class="services-video pt-5">
      <div class="row align-items-center">
        <!-- video -->
        <div class="col-12 col-lg-6">
          <div class="video">
            <iframe
              width="100%"
              height="315"
              src="{{setting.services_video_link}}"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!-- video end -->
        <!-- title description -->
        <div class="col-12 col-lg-6">
          <div class="title-description ps-0 ps-lg-4 mt-4 mt-lg-0">
            <h2 class="text-danger mb-3">{{setting.services_heading}}</h2>
            <p class="text-secondary">{{setting.services_text|safe}}</p>
          </div>
        </div>
        <!-- title description end -->
      </div>
    </div>
    <!-- services video end -->
  </div>
</section>
<!-- services section end -->
{% endblock content %}